@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.blog-entry {
    max-width: 100% !important;
}

.blog-article {
    max-width: 1780px;
}

.blog-wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.read-button {
	color: #fff !important;
	background-color: #FFA216 !important;
	font-size: 14px;
    margin: 0px auto;
    border-radius: 19px;
    width: 150px !important;
    height: 35px !important;
    text-align: center;
    text-transform: capitalize !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.read-button:hover {
	border: none !important;
}

.latest-update {
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%);
    background-color: #D6F1FF;
    border-radius: 5px 5px 0 0;
}

.latest-update-text {
    font-family: Roboto Mono !important;
    text-align: center;
    font-size: 1em !important;
    padding: 0 3rem;
    color: #2D96CB !important;
    font-weight: 700;
}

.blog-post {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0.75rem;
	border-radius: 5px;
	background-color: #F9F9F9;
    box-shadow: 0 2px 4px 0 rgba(173,173,173,0.5);
    transition: 0.195s transform cubic-bezier(0.4, 0.0, 0.2, 1);
}

.blog-post:hover {
    border-bottom: none !important;
    transform: scale(1.05);
}

.blog-post-image {
    height: 50%;
    display: flex;
}

.blog-post-image img {
    filter: brightness(85%);
    opacity: 0.8;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: none !important;
    border-radius: 5px 5px 0 0;
}

.read-more {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1em !important;
    padding: 0.5rem 0.75rem;
    color: #2C96CA !important;
}

.featured-post-content p {
    color: #636363;
    font-family: Roboto;
    font-size: 16px;
    line-height: 42px;
    max-width: 1000px;
    margin: 0 !important;
}

.featured-post-image {
    flex: 1.5;
}

.featured-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none !important;
    filter: brightness(85%);
    opacity: 0.8;
}

.featured-post-content {
    flex: 3;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-post-container {
    display: flex;
    background: #FFFFFF;
    margin: 3rem 0;
    width: 100%;
}

.subscribe-container {
    max-width: 1300px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(44,150,202,0.11);
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(173,173,173,0.5);
    border-radius: 5px;
}

.subscribe-content {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.subscribe-input {
    height: 70px;	
    width: 500px;	
    border-radius: 5px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(173,173,173,0.5);
    margin: 1rem auto !important;
    font-size: 2em;
    border: none !important;
    padding-inline-start: 1rem;
}

.subscribe-title {	
    color: #5D5D5D !important;	
    font-family: "Roboto Mono" !important;	
    font-size: 2em !important;	
    font-weight: 500;	
    text-align: center;
    padding: 1rem;
    margin: 1rem 0 !important;
    border-bottom: none !important;
}

.subscribe-description {		
    color: #959595 !important;	
    font-family: Roboto !important;	
    font-size: 1em;	
    line-height: 28px;
    text-align: center;
}

.feature-text {
    color: #C9C9C9 !important;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0 1rem;
}

.featured-post-title {
    color: #5D5D5D !important;
    font-family: Roboto Mono !important;
    font-weight: 500;
    font-size: 2.5em !important;
    max-width: 80% !important;
    border-bottom: none !important;
    margin: 0 !important;
}

.stripe-thingy {
    height: 5px;	
    width: 77px;	
    background-color: #5D5D5D;
}

.featured-post-excerpt {		
    color: #787878;	
    font-family: Roboto;	
    font-size: 16px;	
    line-height: 28px;
    margin: 1rem 0;
}

.read-button-featured {
    margin: 0 0 0 auto !important;
}

.read-button {
    transition: 0.195s filter cubic-bezier(0.4, 0.0, 0.2, 1);
}

.read-button:hover{
    filter: brightness(90%);
}

.subscribe-button {
    background-color: #2D96CB !important;
    margin: 1rem auto !important;
    border-radius: 19px !important;
    float: none !important;
}

.subscription-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


@media only screen and (max-width: 640px) {
    .image-container{
        flex-direction: column;
        margin: 0 !important;
        align-items: center !important;
    }
    .post-image {
        max-height: 250px;
    }

    .latest-update-text {
        padding: 0 1rem; 
        line-height: 30px !important;
    }

    .read-button {
        margin-top: 1rem;
    }

    .blog-post {
        width: 300px;
        height: 400px;
        margin: 1rem auto;
    }
    
    .related-post-excerpt, .related-post-title {
        padding: 0.5rem 1rem !important;
    }

    .featured-post-container {
        flex-direction: column;
        margin: 1rem 0;
    }

    .featured-post-content {
        margin: 1rem;
        padding: 1rem;
    }

    .featured-post-title {
        max-width: 100% !important;
    }

    .feature-text {
        padding: 0 !important;
    }

    .featured-post-excerpt {
        padding: 1rem 0 !important;
    }

    .blog-article {
        margin: 0 !important;
    }

    .read-button {
        margin: 0 auto !important;
    }

    .subscribe-input {    
        height: 40px;	
        width: 200px;	
        font-size: 1.5em;
    }

    .subscription-form {
        width: 100% !important;
    }

    .subscribe-button {
        margin: 1rem auto !important;
    }
}