
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.post-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4em !important;
    line-height: 2em !important;
    text-decoration: none;
    border-bottom: none !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-family: Roboto Mono !important;
    text-transform: uppercase;
    margin: 0 !important;
}

.post-subtitle {
    font-size: 32px !important;
    line-height: 50px !important;
    text-decoration: none;
    border-bottom: none !important;
    color: #5D5D5D !important;
    font-weight: 500 !important;
    font-family: Roboto Mono !important;
}

.post-title-image-container {
    position: relative;
    margin: 2rem 0;
}

.post-image {
    display: flex;
    justify-content: center;
    max-width: 1300px !important;
    margin: 0 auto;
}

.read-button {
    transition: 0.195s filter cubic-bezier(0.4, 0.0, 0.2, 1);
}

.post-image:hover{
    filter: brightness(70%);
}

.latest-post-image:hover {
    filter:none !important;
}

.latest-post-image img:hover {
    cursor:default !important;
}

.post-image img {
    transition: 0.195s filter cubic-bezier(0.4, 0.0, 0.2, 1);
    filter: brightness(80%);
    cursor: pointer;
    object-fit: cover;
    opacity: 0.8;
    max-height: 450px;
    max-width: 1300px;
    width: 100%;
    /* background: radial-gradient(circle, #6B727D 0%, #FFFFFF 100%) !important; */
    border: none !important;
    border-radius: 5px;
}

.categories {
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%);
    background-color: #D6F1FF;
    border-radius: 5px 5px 0 0;
}

.category-btn {
    font-family: Roboto Mono;
    font-weight: 500;
    color: #2D96CB !important;
    text-align: center;
    font-size: 13px;
    padding: 0 0.25rem;
}

.category-tag {
    border-radius: 5px 0 0 0;
    width: 17px;
    padding: 5px;
    background: none !important;
    border: none !important;
} 

.content-img {
    background: none !important;
    border: none !important;
    border-radius: 5px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0.5rem;
}

.container-image {
    cursor: pointer;
    object-fit: cover;
    width: 350px;
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background: none !important;
    border: none !important;
    border-radius: 5px;
    transition: 0.195s filter cubic-bezier(0.4, 0.0, 0.2, 1);
}

.container-image:hover {
    filter: brightness(70%);
}

.container-image-single {
    cursor: pointer;
    max-height: 350px;
    max-width: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background: none !important;
    border: none !important;
    border-radius: 5px;
    margin: 0 auto;
    transition: 0.195s filter cubic-bezier(0.4, 0.0, 0.2, 1);
}

.container-image-single:hover {
    filter: brightness(70%);
}

.typography p {
    color: #636363;	
    font-family: Roboto;	
    font-size: 16px;	
    line-height: 42px;
    max-width: 1000px;
    margin: 0 auto;
}

.related-post-container {
    position: relative;
}

.related-post-list {
    margin: 0 !important;
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.related-post-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.related-post-image {
    height: 50%;
    display: flex;
}

.related-post-image img {
    object-fit: cover;
    filter: brightness(90%);
    opacity: 0.9;
    height: 100%;
    width: 100%;
    border: none !important;
    border-radius: 5px 5px 0 0;
}

.related-post-title {
    text-align: center;
    font-size: 16px !important;
    line-height: 21px !important;
    text-decoration: none;
    border-bottom: none !important;
    color: #5D5D5D!important;
    font-weight: 700 !important;
    font-family: Roboto Mono !important;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0.75rem !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.related-post-excerpt {
    color: #787878 !important;
    font-family: Roboto !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    padding: 0 1rem;
}



.related-post {
    width: 215px;
    height: 250px;
    margin: 1rem;
	border-radius: 5px;
	background-color: #F9F9F9;
    box-shadow: 0 2px 4px 0 rgba(173,173,173,0.5);
    transition: 0.195s transform cubic-bezier(0.4, 0.0, 0.2, 1);
}

.related-post:hover {
    border-bottom: none !important;
    transform: scale(1.05);
}

.related-category-wrapper {
    max-width: 1000px;
    margin: 2rem auto;
}

.modal {
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.395s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-active {
    display: flex;
}

.modal-visible {
    opacity: 1;
}


@media only screen and (max-width: 640px) {
    .image-container{
        flex-direction: column;
        margin: 0 !important;
        align-items: center !important;
    }
    .post-image {
        max-height: 250px;
    }
    .post-title {
        font-size: 2em !important;
        line-height: 1.5em !important;
    }
    .image-container img {
        object-fit: cover;
        margin-bottom: 1rem;
    }
    .post-subtitle {
        text-align: center;
    }
    .related-post-list {
        flex-direction: column !important;
        margin: 1px !important;
    }
    .related-post {
        margin: 1rem auto;
        width: 300px;
        height: 300px;
    }
    .related-post-title {
        padding: 1rem !important;
        margin-top: 0.5rem !important;
    }

    .related-post-excerpt {
        padding: 0.5rem 1rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .content p, .blog-post-meta {
        padding: 1rem;
    }

    .related-post {
        margin: 1rem auto !important;
    }

    .post-subtitle {
        text-align: center;
    }
    .container-image {
        width: 220px;
        height: 220px !important;
    }

}