@import url('https://fonts.googleapis.com/css?family=Roboto');

.carousel-root {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-container {
  position: relative;
  margin: 2rem;
}

.slide-container {
  display: none;
  opacity: 0;
  padding: 2rem;
  box-shadow: 2px silver;
  background: white;
  height: 450px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: 0.395s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-container-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-container-visible {
  opacity: 1;
}

.slide-container img {
    height: 400px;
    width: 600px;
    width: 100%;
    background: none !important;
    border: none !important;
}

.slide-image {
  width: 100%;
  border-radius: 3px;
}

.slide-title {
  text-align: center;
}

.slide-synopsis {
  line-height: 1.5em;
  margin: 0;
  padding: 1rem;
}

.slide-link {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  max-width: 150px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: white;
  background-color: #0064ff;
  font-weight: 700;
  display: block;
  margin: 1rem auto 2rem auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.195s all cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-link:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: rgb(22, 114, 253);
}

#dots {
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  padding: 1rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgrey;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active {
  background-color: lightgrey;
}

.dot:hover {
  background-color: lightgrey;
}

.arrow-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: lightgrey;
  cursor: pointer;
  background-color: #FFA216
}

.arrow-button:hover {
    filter: brightness(50%);
}

@media only screen and (max-width: 640px) {
    #next-arrow {
        transform: translate(-255%, 300%);
        display: flex;
        justify-content: center;
        line-height: 1px;
        width: 30px;
        height: 30px;
        z-index: 3;
    }
    #prev-arrow {
        transform: translate(300%, 300%);
        display: flex;
        justify-content: center;
        line-height: 1px;
        width: 30px;
        height: 30px;
        z-index: 3;
    }
    .slide-container {
    height: 250px;
    width: 300px;
    }
    .slide-container img {
        height: 200px;
        width: 300px;
    }
}