
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Some CSS in this file are theirs some are mine I need to clean up the css later */
body {
	font-family: 'Roboto';
    margin: 0;
    background: #ededed;
	min-width: 240px;
}
	.main {
	    background: #F9F9F9;
		min-height: 300px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 1)
	}
	.inner {
		margin: 0 auto;
		padding: 0;
	}
	.no-sidebar .content-container {
		margin: 0 auto;
		max-width: 1300px;
	    width:100%; 
	}
	.sidebar { 
	    margin-top: 12px;
	}
	.no-sidebar .sidebar {
		display: none;
	}


.header {
    background: #ffffff;
}
	.header .header-container {
		display: flex;
		padding: 1rem;
		justify-content: space-between;
		align-items: center;
		max-width: 1300px;
		margin: 0 auto;
	}


	
/* NAVIGATION */

	/* Primary navigation */
	.header .inner .unit {
		position: relative; /* used to position the main navigation */
	}
	.header .primary li {
		padding: 1rem;
	    position: relative;
	    white-space: nowrap; /* forces text to never wrap onto a second line */
	}
	.header .primary li a {
		color: #636363;	
		font-family: Roboto;	
		font-size: 14px;	
		line-height: 16px;
		display: block;
	}
	.header .primary li.section a:hover {
	    color: #000;
	}
	.header .primary li.section a {
		color: #636363;	
		font-family: Roboto;	
		font-size: 14px;	
		line-height: 16px;
		display: block;
	}
	.header .primary li.current a {
	    color: #000;
	}
	.header .primary li.section:after,

	

	/* Tablet Navigation */
	/* When navigation and logo overlap tablet-nav is initialized */
	.tablet-nav .brand p {
	    margin-bottom: 0;
	}
	.tablet-nav .header .inner {
	    padding-top: 20px;
	}
	.tablet-nav .header .primary ul {
	    float: left;
	    clear: both;
	    position: relative;
	    margin: 20px 0 0 -13px;
	    white-space: nowrap;
	    right: auto; /* resets the right property value that is set for the desktop site */
	}
		.tablet-nav .header .primary ul li {
		    white-space: nowrap;
		}
			.tablet-nav .header .primary ul li a { /* there is no hover on touch devices so no transition on hover is necessary */
			    -moz-transition: none;
			    -webkit-transition: none;
			    transition: none;
			}
	.tablet-nav .footer .right {
	    float: left;
	    width: 100%;
	}

	/* Secondary navigation */
	.main .secondary h3 {
	    font-size: 20px;
	    color: #AAA;
	    margin: 0 0 8px 0;
	    font-family: "CamboRegular", Georgia, "Times New Roman", Times, serif;
	    font-weight: normal;
	}
	.main .secondary {
	    border-bottom: 1px solid #e5e5e5;
	}
		.main .secondary ul {
		    padding: 0;
		    margin: 0;
		}
		.main .secondary li {
		    border-top: 1px solid #e5e5e5;
		    position: relative;
		    list-style-type: none;
		    margin-bottom: 0;
		}
			.main .secondary li .arrow {
			    color: #b80000;
			    padding-right: 5px;
			    display: block;
			    font-size: 15px;
			    line-height: 20px;
			    position: absolute;
			    left: 2px;
			    top: 7px;
			    -moz-transition: 0.2s; /* this transition moves the arrow from left:2px to left:6px */
			    -webkit-transition: 0.2s;
			    transition: 0.2s;
			}
		.main .secondary li a:hover .arrow {
		    left: 6px; /* this sets the final position for the arrow transition */
		}
		.main .secondary li a { /* side nav link styling */
		    padding: 10px 0;
		    display: block;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    font-size: 11px;
		    color: #333;
		    line-height: 17px;
		    border-bottom: none;
		    font-family: 'Lucida Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
		}
		.main .secondary li .text {
		    padding-left: 28px;
		    display: block;
		}
		.main .secondary li.current a.current {
			color: #b80000;
			background-color: #EDEDED;
		}
		.main .secondary li.section,
		.main .secondary li.current {
		    background-color: #F3F3F3;
		}
			.main .secondary li.section a,
			.main .secondary li.current a {
			    color: #000;
			}


		/* Secondary navigation 2-5 levels deep */
		.main .secondary ul ul {
			display: none;
		}
		.secondary ul li.current ul,
		.secondary ul li.section ul { /* Only show child pages from selected parent */
			display: block;
		}
		.secondary li.current ul ul {
			display: none;
		}
		.main .secondary ul ul li a { padding-left: 10px; } /* Indent all sidebar navigation levels*/
			.main .secondary ul ul li a .arrow { left: 12px; }
			.main .secondary ul ul li a:hover .arrow { left: 16px; }

		.main .secondary ul ul ul li a { padding-left: 20px; }
			.main .secondary ul ul ul li a .arrow { left: 22px; }
			.main .secondary ul ul ul li a:hover .arrow { left: 26px; }

		.main .secondary ul ul ul ul li a { padding-left: 30px; }
			.main .secondary ul ul ul ul li a .arrow { left: 32px; }
			.main .secondary ul ul ul ul li a:hover .arrow { left: 36px; }

		.main .secondary ul ul ul ul ul li a { padding-left: 40px; }
			.main .secondary ul ul ul ul ul li a .arrow { left: 32px; }
			.main .secondary ul ul ul ul ul li a:hover .arrow { left: 36px; }




/* MIXED */
header:after,
.main:after,
#Root:after,
.search-bar:after,
header .inner:after,
footer:after { /* clearfix */
    height: 0;
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}
.search-bar form input.action,
.header .primary li a,
.footer a { /* adds color transition when links/inputs on hover */
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer a.brand { color: #333; margin-left: 0; }
.footer a.brand:hover { color: #B80000; }
body h1 span.amp {
    font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",Georgia;
    font-style: italic;
}

.cool-color-thingy {
	display: flex;
	width: 100%;
}
.cool-color-thingy-first-part {
	background: linear-gradient(to right,  #6556C4 50%,#2D96CB 50%);
	height: 5px;
	flex: 1;
}

.cool-color-thingy-second-part {
	background: linear-gradient(to right, #45AE3D 50%,#FFA216 50%);
	height: 5px;
	flex: 1;
}

/* FOOTER */
.footer {
    color: #6F6F6F;
    background: #F6F6F6;
    padding: 20px 0;
    font-size: 11px;
    line-height: 22px;
}

.footer-button {
	color: #fff !important;
	background-color: #FFA216 !important;
	font-size: 14px;
	height: 31px !important;	
	width: 77px !important;
	text-transform: capitalize !important;
}

.input-wrapper {
	display: flex;
	align-items: center;
}
	.footer a {
	    color: #999;
	}
	.footer a:hover {
	    color: #B90000;
	}
	.footer .left {
	    float: left;
	    color: #000;
	    display: block;
	    margin-bottom: 10px;
	}
	.footer .right {
	    float: right;
	    display: block;
	    margin-bottom: 10px;
	}
	.footer span {
	    padding: 0 3px;
	    color: #bbb;
	}
	.footer .primary,
	.footer .primary ul {
	    display: inline;
	    margin: 0;
	    padding: 0;
	}
		.footer .primary li {
		    display: inline;
		}
	.ie6 .footer .primary li,
	.ie7 .footer .primary li { /* this is a bugfix for ie6/7 */
	    display: inline;
	    zoom: 1;
	    margin-right: 10px;
	}
	.footer .primary li:after { /* adds '/' to separate the footer navigation items */
	    padding: 0 3px 0 5px;
	    content: '/';
	    color: #999;
	}
	.footer .primary li:last-child:after {
	    content: ''; /* makes sure last nav item doesn't have a '/' following it */
	}
	.footer .arrow {
	    padding: 0 8px 0 5px;
	    color: #b80000;
	    font-size: 13px;
	}
	.footer .primary .nav-open-button {
	    display: none; /* the footer includes the primary nav include - this makes sure the nav open close button doesn't show up */
	}

	.signup-form {
		display: flex;
		align-items: center;
	}

	.footer-input {
		margin-right: 1rem;
	}

	.nav-list{
		display: flex;
	}

	.signup-button {
		color: #fff !important;
		background-color: #FFA216 !important;
		font-size: 14px !important;
		margin: 0px auto !important;
		border-radius: 19px !important;
		width: 150px !important;
		height: 35px !important;
		text-align: center;
		text-transform: capitalize !important;
		display: flex !important;
		align-items: center;
		justify-content: center;
	}

/* PAGE SPECIFIC LAYOUT */

	/* Homepage */
		/* currently no Hompage specific styles - feel free to add your own */

/* DEVICE & RESPONSIVE LAYOUT */
.header .nav-open-button {
    display: none; /* removes the nav toggle button for desktop site */
}
#media-query-trigger {
    /* instead of detecting the width of the window in simple/javascript/script.js it detects the visibility of this element (which is set using media queries)
    instead to trigger the hiding/showing of nav and search in mobile mode */
    display: none;
    visibility: hidden;
}

/* BREAKPOINT 960px */

@media only screen and (max-width: 960px) {
	.content img {
	    max-width: 97%;
	    height: auto;
	}
	.header .primary ul {
	    margin-left: -12px;
	    -webkit-padding-start: 0px; /* removes default webkit padding on ul items */
	}
}

/* BREAKPOINT 640px */

/* when changing the breakpoint below, change it ito the same value in the script.js file as well */
@media only screen and (max-width: 640px) {
	.signup-form {
		width: 100%;
		flex-direction: column;
	}
	.footer-input{
		display: block;
		margin: 1rem;
	}
	article {
		margin: 0 0.5rem;
	}
	body {
	    max-width: 640px;
	}
	#media-query-trigger {
	    visibility: visible;
	}

	.footer-container {
		flex-direction: column;
		padding: 0 !important;
	} 

	.desktop-only {
		display: none;
	}

	.footer-list-element {
		display: none;
	}

	.footer {
		padding: 0 !important;
	}

	.footer-list-title {
		padding: 1rem !important;
		text-align: center;	
		border-bottom: 1px solid #eaecee;
	}

	.social-title {
		border-bottom:none;
	}

	.footer-image-container {
		justify-content: space-evenly !important;
	}

	.accelo-trial-button {
		display: flex !important;
		background: #2C96CA !important;
		height: 35px;
		text-transform: uppercase;
		color: #fff !important;
		align-items: center;
		justify-content: center;
		padding: 1rem 0 !important;
		text-shadow: none;
		width: 100% !important;
		border-radius: 0 !important;
		margin: 0 !important;
		font-size: 14px;
		border-bottom: none !important;
	}

	/* Navigation*/
	.free-trial-mobile {
		display: block !important;
	}
	.free-trial-desktop {
		display: none !important;
	}
	.tablet-nav .header .brand {
	    float: none;
	    display: inline-block;
	    margin-left: 22px;
	    margin-bottom: 22px;
	}
		.brand h1 {
		    font-size: 40px;
		}
		.brand h1 {
		    padding-right: 100px; /* padding stops .brand text from overlapping the search and nav buttons */
		}
	.tablet-nav .header {
	    padding: 0px;
	}
		.tablet-nav .header .inner {
		    padding: 20px 0 0 0;
		    min-height: 0;
		}
		.tablet-nav .header .primary .nav-open-button { /* styling and positioning of the nav toggle button */
		    z-index: 100;
		    width: 20px;
		    height: 20px;
		    display: block;
		    cursor: pointer;
		    font-family: 'WebSymbolsRegular';
		    font-size: 20px;
		    color: #ededed;
		}
		.tablet-nav .header .primary ul {
			z-index: 10;
			position: absolute;
			display: none;
			white-space: normal;
			width: 100%;
			left: 0;
			top: 0;
			margin: 4rem 0;
		}
			.tablet-nav .header .primary ul li {
			    width: 100%;
			    margin: 0;
			    padding: 0;
			    float: none; /* displays list items vertically */
			    background: none;
			    position: relative;
				
			}
			.tablet-nav .header .primary ul li a,
			.tablet-nav .header .primary ul li.current a,
			.tablet-nav .header .primary ul li.section a { /* styling the  top level nav links */
			    padding: 1rem;
			    border-bottom: 1px solid #eaecee;
				background: #f8f9f9;
				text-align: center;
				color: #636363;	
				font-family: Roboto;	
				font-size: 14px;
			}
			.tablet-nav .header .primary ul li.current a,
			.tablet-nav .header .primary ul li.section a {
				background: #eaecee; /* makes background on current top level page slightly darker */
			}
			.tablet-nav .header .primary ul li a:hover {
			    color: inherit;
			}
			.tablet-nav .tablet-nav .header nav.primary ul li {
				padding: 0;
			}

	/* Main Content */
	.main {
	    padding: 20px 0 45px; /* decrease padding so that more content can fit on screen */
	}
	.content-container{
		max-width: 1300px;
	}
	.blog-entry {
		max-width: 1300px;
	}
	.content-container,
	.sidebar {
	    width: 100%; /* sidenav is now shown above the page content */
	    margin-bottom: 30px;
	}
		.typography h1 { /* decrease size of page heading due to smaller screen */
		    font-size: 30px;
			line-height:35px;
		    margin-bottom: 15px;
		    padding-bottom: 10px;
		}
		.typography p {
		    font-size: 14px;
		    line-height: 23px;
		}
	p.intro {
	    font-size: 19px;
	    line-height: 27px;
	}
	/* Secondry Nav */
	.secondary li a {
	    line-height: 24px;
	}
	.secondary li .arrow {
	    line-height: 26px;
	}
	/* Footer */
	.footer .right {
	    float: left;
	    width: 100%;
	}
}

/* Print Styles */

/* Based on HTML5 boilerplate print styles */
@media print {
	* {
	    background: transparent !important;
	    color: black !important;
	    box-shadow: none !important;
	    text-shadow: none !important;
	    filter: none !important;
	    -ms-filter: none !important;
	}
	a,
	a:visited {
	    text-decoration: underline
	}
	a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

	thead {
	    display: table-header-group
	}
	tr,
	img {
	    page-break-inside: avoid
	}
	img {
	    max-width: 100% !important
	}
	pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    /* Simple theme custom print styles */
	.header,
	.footer,
    .nav-open-button,
    .search-bar,
    .search-dropdown-icon,
    nav.primary {
	    display: none;
	}
}

.accelo-logo {	
	height: 26px;	
	width: 117px;
}

.footer-logo {
	float: right;
	padding: 1rem;
	background: none !important;
    border: none !important;
}

.free-trial-mobile {
	display: none;
}

.free-trial-desktop {
	margin: 0 5px;
    background: #2C96CA;
    border-radius: 19px;
    width: 149px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
	display: flex;
	align-items: center;
}

.accelo-trial-button {
	display: flex !important;
	margin: 0 5px;
	background: #2C96CA;
	border-radius: 19px;
	width: 149px;
	height: 35px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	align-items: center;
	justify-content: center;
}

.footer-image {
	width: 26px;
	height: 26px !important;
	padding: 0.3rem;
	background: none !important;
	border: none !important;
} 

.footer-image-container {
	display: flex;
    justify-content: flex-start;
} 

.footer-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem 5rem;
}

.footer-list {
	margin: 0 !important;
}

.footer-list-title {
	padding: 0.2rem;
	font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
	color: #6F6F6F;
	line-height: 16px;
	list-style-type: none !important;
}

.footer-list-element {
	padding: 0.2rem;
	font-family: Roboto;
	color: #6F6F6F;
	font-size: 14px;
	line-height: 16px;
	padding-left: 1rem;
	list-style-type: none !important;
}

.footer-see-how-text {
	padding: 1rem 0;
}

.footer-input {
	border: 1px solid #DEDCDC;	
	border-radius: 5px;	
	background-color: #FFFFFF;
	height: 32px;
	width: 188px;
}

.desktop-only {
	display: block;
}